                * {
                    padding: 0;
                    margin: 0;
                }
                
                body {
                    justify-content: center;
                    font-family: sans-serif;
                }
                
                .Main_container {
                    position: absolute;
                    width: 350px;
                    height: 380px;
                    border: 1px solid#ff8800;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 10px;
                }
                
                .Logo-div {
                    padding-top: 20px;
                }
                
                .Logo-div h2 {
                    font-size: 30px;
                }
                
                .Logo-div span {
                    color: #ff8800;
                }
                
                .Form-space {
                    margin-top: 30px;
                    padding: 20px;
                }
                
                .Form-space h3 {
                    float: left;
                    font-size: 20px;
                    font-weight: bold;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }
                
                .Form-space input {
                    border: none;
                    width: 100%;
                    height: 35px;
                    background: rgba(31, 29, 29, 0.144);
                    border-radius: 5px;
                    margin: 10px auto;
                }
                
                .Form-space input::placeholder {
                    padding-left: 10px;
                }
                
                .Form-space button {
                    float: left;
                    color: #fff;
                    background: #ff0000;
                    padding: 13px;
                    border: none;
                    border-radius: 5px;
                    width: 100px;
                    margin-top: 20px;
                    font-weight: bold;
                }
                
                .Form-space button:hover {
                    background: #ff0000a1;
                }
                
                .icon-area {
                    position: absolute;
                    transform: translate(130px, 30px);
                    float: left;
                    top: 310px;
                }
                
                .icon-area i {
                    width: 38px;
                    height: 28px;
                    border-radius: 50px;
                    border: 1px solid #ccc;
                    padding: 0px;
                    padding-top: 9px;
                    color: #fff;
                }
                
                .icon-area #I1 {
                    background: #0000ff;
                }
                
                .icon-area #I1:hover {
                    background: #0000ffaf;
                }
                
                .icon-area #I2 {
                    background: #00a2ff;
                }
                
                .icon-area #I2:hover {
                    background: #00a2ffaf;
                }
                
                .icon-area #I3 {
                    background: #ff0000;
                }
                
                .icon-area #I3:hover {
                    background: #ff0000af;
                }
                /* Media Query */
                
                @media only screen and (max-width:600px) {
                    .Main_container {
                        width: 300px;
                        height: 380px;
                    }
                    .icon-area i {
                        transform: translate(-30px, 3px);
                    }
                }
                
                @media only screen and (min-width:1024px) {
                    .Main_container {
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }